body {
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
}
header nav ul {
    list-style-type: none;
    padding: 0;
}
header nav ul li {
    display: inline;
    margin: 0 15px;
}
main section {
    padding: 2em;
    background-color: white;
    margin: 1em 0;
    border-radius: 8px;
}
.galeria {
    display: flex;
    gap: 20px;
}
form label {
    margin-bottom: 0.5em;
    font-weight: bold;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}
header nav ul li a:hover {
    text-decoration: underline;
    transition: 0.3s;
}
form button:hover {
    background-color: #555;
    background-color: 0.3s;
}